:root{
  --brand-white:#ffffff;
  --brand-navy:#042f64;     /* SFB-like dark blue */
  --brand-ltblue:#7ac6f6;   /* light accent */
  --brand-grayblue:#bdd0db; /* soft neutral */
  --brand-orange:orange;   /* call-to-action */
}

body{ font-family: "Roboto","Helvetica","Arial",sans-serif; }
.navbar { background: var(--brand-orange);height:64px; }
.sidebar { color: var(--brand-orange)}
.navbar .navbar-brand, .navbar .nav-link, .sidebar 
{ color: var(--brand-white); 
  
  }

.nav-link { color: var(--brand-orange)}
.btn-primary, .badge-primary { background: var(--brand-navy); border-color: var(--brand-navy); color:var(--brand-white); }
.table-hover tbody tr:hover { background: color-mix(in oklab, var(--brand-ltblue) 20%, white); }
a { color: var(--brand-orange); }
a:hover { color: var(--brand-navy); }

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
